<div class="end">
	<h2>Le quizz est terminé !</h2>
	<div class="total">
		<p>Réponses correctes :</p>
		<p class="compteur"></p>
		<p> / 5</p>
	</div>
</div>

</div>
<div class="retour_acc">
	<a href="/" class="retour" onclick="reset()">Retour à l'accueil</a>
</div>

<script>
  document.querySelectorAll('.compteur')[0].innerHTML += compteur.toString()
</script>
