<!DOCTYPE html>
<html>
<head>
  <title>QuizzAgro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<h1 class="title">Quizz Agro</h1>
</div>
<div class="presentation">
	<p>Connaissez-vous les entreprises du secteur agro-alimentaire de la région Rhône-Alpes ?</p>
</div>
<%= yield %>

</body>
</html>
